<html layout:decorate="~{layout}">
<div layout:fragment="content" class="container">

    <div class="card" style="width: 18rem;">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
            <ul class="list-group list-group-flush">
                <li class="list-group-item">아이디</li>
                <li class="list-group-item" th:text="${user.username}"></li>
            </ul>
            <br>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">닉네임</li>
                <li class="list-group-item" th:text="${user.nickname}"></li>
            </ul>
            <p class="card-text"></p>
        </div>
    </div>



</div>
</html>
